* {
    margin: 0;
    padding: 0;
    background-size: cover;
    overflow:hidden;
}

:root {
    --clr-main: #14151f;
    --clr-tekst: #a8a8a8;
    --clr-ramme: #57637a;
    --clr-ixDBoks: #0b0c13;
    --clr-tabellBoks: #1a1c29;
    --clr-tekstBoks: #262738;
    --clr-bakgrunn: #07070b;
    --clr-safir: #1fa6e2;
    --clr-dark-cyan: #0e4b64;
    --clr-akvamarin: #33c9c4;
    --clr-amazonitt: #35b06f;
    --clr-smaragd: #1b5a38;
    --clr-citrin: #e6ce2f;
    --clr-spessartin: #e68d2f;
    --clr-rubin: #ec4f28;
    --clr-dark-rubin: #5a1e0f;
    --clr-thulitt: #c973af;
    --clr-kunzitt: #b18bf4;
    --clr-ametyst: #7b77ff;
    --clr-white: #fff;
}

body {
    margin: 0;
    background-color: var(--clr-main);
}

.pages {
	width:500%;  /* 5 times original*/
}
.page { 
	height:100vh;
	width:20%;  /* 100 by 5 */
	float: left;
}
/* .page1 { background: red; }
.page2 { background: yellow; }
.page3 { background:green; }
.page4 { background: blue; }
 */
h1 { 
	color: var(--clr-tekst);
	font-family: monospace;
	width: 250px;
	background: var(--clr-tekstBoks);
	padding: 15px;
}

.content {
    color: var(--clr-tekst);
	background: var(--clr-tekstBoks);
	height:300px;
	width:500px;
	margin: 50px auto;
}
.content p {
	font-size: 18px;
	padding: 10px;
	font-family: monospace;
}